@import "tailwindcss";

:root {
  --font-geist-sans: ui-sans-serif, system-ui, sans-serif;
  --font-dm-sans: 'DM Sans', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom right, #0B0C0D, #151719, #1C1E21);
  min-height: 100vh;
}

.font-dm-sans {
  font-family: var(--font-dm-sans);
}
